:root{
  --bs-teal: #20c997 !important;
  --bs-primary: #2C75A5 !important;
  --bs-secondary: #2B3A42 !important;
  --bs-light: #f5f5f5 !important;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}
.bg-secondary {
  background-color: var(--bs-secondary) !important;
}


.text-primary {
  color: var(--bs-primary) !important;
}
.text-secondary {
  color: var(--bs-secondary) !important;
}

.btn-primary{
  background-color: var(--bs-primary) !important;
}
.btn-secondary{
  background-color: var(--bs-secondary) !important;
}
.border-secondary {
  border-color:  var(--bs-secondary) !important;
}
